<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Homework_57_izida_kubekova</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand text-uppercase" asp-area="" asp-controller="Phones" asp-action="Index">
                Телефоны
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                <ul class="navbar-nav">
                    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                    {
                        <li class="nav-item align-self-bottom pr-3">
                            <a class="nav-link text-white" asp-area="" asp-controller="Phones" asp-action="Add">Добавить телефон</a>
                        </li>
                        <li class="nav-item align-self-bottom pr-3">
                            <a class="nav-link text-white" asp-area="" asp-controller="Brands" asp-action="Add">Добавить бренд</a>
                        </li>
                        <li class="nav-item align-self-bottom pr-3">
                            <a class="nav-link text-white" asp-area="" asp-controller="Orders" asp-action="Index">Посмотреть все заказы</a>
                        </li>
                        <li class="nav-item align-self-bottom pr-3">
                            <span class="nav-link text-white">Здравствуйте, @User.Identity.Name</span>
                        </li>
                        <li class="nav-item align-self-bottom pr-3">
                            <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Logout">Выйти</a>
                        </li>
                    }
                    @if (User.Identity.IsAuthenticated && User.IsInRole("user"))
                    {
                        <li class="nav-item align-self-bottom pr-3">
                            <span class="nav-link text-white">Здравствуйте, @User.Identity.Name</span>
                        </li>
                        <li class="nav-item align-self-bottom pr-3">
                            <a class="nav-link text-white" asp-area="" asp-controller="Orders" asp-route-userEmail="@User.Identity.Name" asp-action="Index">Мои заказы</a>
                        </li>
                        <li class="nav-item align-self-bottom pr-3">
                            <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Logout">Выйти</a>
                        </li>
                    }
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item align-self-bottom pr-3">
                            <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="SignUp">Зарегистрироваться</a>
                        </li>
                        <li class="nav-item align-self-bottom pr-3">
                            <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Login">Войти</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container-fluid-custom">
    @RenderBody()
</div>
<footer class="bg-gray pt-4">
    <div class="container">
        <div class="row align-items-start">
            <div class="col-sm-12 col-md-4 col-lg-3 mb-2">
                <p class="text-uppercase text-dark">
                    &copy; 2022 - Телефоны
                </p>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3 mb-2">
                <p class="text-uppercase">
                    <a class="footer-link text-dark" asp-area="" asp-controller="Phones" asp-action="Index">На главную</a>
                </p>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="col-sm-12 col-md-4 col-lg-3 mb-2">
                    <p class="text-uppercase">
                        <a class="footer-link text-dark" asp-area="" asp-controller="Brands" asp-action="Index">Представленные бренды</a>
                    </p>
                </div>
            }
            @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
            {
                <div class="col-sm-12 col-md-4 col-lg-3 mb-2">
                    <p class="text-uppercase">
                        <a class="footer-link text-dark" asp-area="" asp-controller="Account" asp-action="Index">Все пользователи</a>
                    </p>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3 mb-2">
                    <p class="text-uppercase">
                        <a class="footer-link text-dark" asp-area="" asp-controller="CustomerReviews" asp-action="Index">Все отзывы</a>
                    </p>
                </div>
            }
        </div>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>